*{
    margin: 0;
    padding: 0;
}

.navbar-brand{
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
}

.homepage{
    background: linear-gradient(to top, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    height: 95vh;
    position: relative;
}

.homepage-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 80px;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
}

.about{
    width: 60%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.about-title{
    text-align: center;
}

.about-content{
    display: flex;
}

.about-text{
    line-height: 60px;
}
.about-img img{
    width: 80%;
    display: block;
    border-radius: 40%;
    margin-left: 20px;
}