* {
  margin: 0;
  padding: 0;
}

hr {
  width: 20%;
  border: 0;
  height: 4px !important;
  background-image: linear-gradient(to right#2c3e50, #bdc3c7);
}

.navbar {
  padding: 0.75rem;
}

.navbar-brand {
  font-family: "Permanent Marker", cursive;
  font-size: 30px;
}

#homepage {
  background: linear-gradient(
    to top,
    #2c3e50,
    #bdc3c7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  height: 98vh;
  position: relative;
}

.homepage-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: white;
}

.social-media .btn {
  color: white;
}
#about {
  padding: 5rem 0;
}
.about-pic {
  width: 60%;
}

.about-content {
  line-height: 50px;
  margin-top: 50px;
  text-align: justify;
  text-justify: inter-word;
}

.about-title {
  margin-bottom: 3rem;
}

.projects-title {
  margin-bottom: 3rem;
}

#projects {
  padding: 5rem 0;
}

.card-img-top {
  height: 300px;
}
