@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body{
	font-family: 'Lato', sans-serif;
}

.text-out{
	color: #2E8B57;
}
.navbar{
	text-transform: uppercase;
	font-size: 0.9rem;	
	font-weight: 700;
	letter-spacing: 0.1rem;
	background-color: rgba(0,0,0,0.6) !important;
	border-bottom: 3px solid #2E8B57;
}

.navbar-nav li{
	padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link{
	color: white;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
	color: #2E8B57;
}


.showPage{
	background-image: url(https://images.pexels.com/photos/3815729/pexels-photo-3815729.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 100vh;
	z-index: 0;
}

.showPage-content{
	color: white;
	position: absolute;
	width: 100%;
	max-width:100%;
	top: 40%;
	z-index: 1;

}

.showPage-content h1{
	font-size: 4rem;
	font-weight: 700;
	letter-spacing: .3rem;
	text-shadow: .1rem .1rem .8rem black;
	padding-bottom: 1rem;
}

.btn-lg{
	font-size: 1.5rem;
}

#about{
	padding:5rem 0;
}

.about-heading{
	font-weight: 700;
	margin-bottom: 3rem;
}

.about-pic{
	width: 60%;
}